# systemd config for go_web
# must run after mysql start

[Unit]
Description=go web api server

[Service]
ExecStart=/home/go_web/web -c /home/go_web/conf/config.yaml

